body {
    background-color: #9C89B8;
}

h1 {
    font-family: 'Mali';
    text-align: center;
    font-size: 48px;
    color: #F0E6EF;
    text-align: center;
}

#messages {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #F0E6EF;
    padding-bottom: 50px;
}

.press-start {
    font-family: 'Roboto Condensed', sans-serif;
    color: #F0E6EF;
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}

#scoreboard {
    margin-top: 360px;
    text-align: center;
}

.player1, .player2 {
    font-family: 'Mali';
    text-align: center;
    font-size: 18px;
    color: #F0E6EF;
    text-align: center;
    padding: 10px 30px;
    text-transform: uppercase;
}

.playerScore {
    font-family: 'Mali';
    color: #F0E6EF;
    font-size: 18px;
    clear: both;
    text-align: left;
}

.start-container {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    display: block;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-container {
    margin: 0 auto;
    width: 330px;
    text-align: center;
    display: none;
}

td {
    border: 15px solid #F0A6CA;
    height: 100px;
    width: 100px;
    font-family: "Helvetica", monospace, sans-serif;
    font-size: 68px;
    cursor: pointer;
    color: #B8BEDD;
}

.tile {
    color: #B8BEDD;
    font-family: 'Indie Flower', cursive;
}

input {
    float: right;
    border-radius: 5px;
    font-family: 'Mali';
    font-size: 18px;
    background: #F0A6CA;
    border: none;
    color: #F0E6EF;
}

table {
    border-collapse: collapse;
    position: absolute;
    text-align: center;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

#start, #restart {
    text-align: center;
    border: none;
    background: #B8BEDD;
    color: #F0E6EF;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    border-radius: 2px;
    padding: 0.6em 1.2em;
    letter-spacing: 1px;
}

/*
    You can try to find one at:
    https://coolors.co/

    Possible Color Scheme:
    Link: https://coolors.co/9c89b8-f0a6ca-efc3e6-f0e6ef-b8bedd

    #9C89B8 - Lavender Purple
    #F0A6CA - Carnation Pink
    #EFC3E6 - Classic Rose
    #F0E6EF - Isabelline
    #B8BEDD - Light Steel Blue
*/
